#OSX
#-------------------------------------------------------------------------------
.DS_STORE

#Linux
#-------------------------------------------------------------------------------
.directory

#General
#-------------------------------------------------------------------------------
dist
node_modules
*.tsx
package-lock.json
